# Meddling with the Django Application in Notebooks

## Setting up the Django application so that you can develop in REPL

In [1]:
import os
import sys
import django
import pickle
sys.path.append('../..')
#Loading my project settings from prodweb. This allows me to load and query models. 
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'prodweb.settings')
django.setup()

In [2]:
import game

In [3]:
with (open('../pickles/billmanhworld.pkl', 'rb')) as pickle_file:
    world = pickle.load(pickle_file)

In [4]:
world.Character.get_charData()

{'name': 'Razmataz',
 'message': 'Razmataz is standing in plain:33:29. ',
 'size': 5,
 'speed': 15,
 'attributes': ['started'],
 'location': '33:29',
 'title': 'Pesant',
 'composure': 10,
 'arriveFrom': 'West',
 'equipment': {'gold': 1,
  'weapons': [{'name': 'basic bow',
    'id': '0000',
    'quantity': 20,
    'range': 200,
    'damage': 3,
    'damage_mod': 1}]}}

In [9]:
world.df_features.head()

,y,rainfall,x,key,elevation,terrain,feature,nation number,nation,visited,aware,turn_last_visited,danger
key,,,,,,,,,,,,,
0:0,0,22.0,0,0:0,-2.0,ocean,NaN,NaN,NaN,0,1,0,0.055
1:0,0,18.0,1,1:0,-2.0,ocean,NaN,NaN,NaN,0,1,0,0.006
2:0,0,17.0,2,2:0,-1.0,ocean,NaN,NaN,NaN,0,1,0,0.119
3:0,0,17.0,3,3:0,0.0,ocean,NaN,NaN,NaN,0,1,0,0.553
4:0,0,18.0,4,4:0,-1.0,ocean,NaN,NaN,NaN,0,1,0,0.836

In [8]:
world.Character.characterSpeaksLanguage(world)

True

In [10]:
world.Character.languages

['Hardgarden', 'Hardgarden']

In [15]:
world.Character.turn_number

39

In [21]:
world.culture.gibberishGenerator(104)

'U Y Juduimw Ll Gqe Nkm Inreoy Umoio Krlsgdopedlykay Sd Veuniietjhe Doktzxjnnuxtujhyicek L   Eilyef Oie'