In [1]:
import pandas as pd
import numpy as np
import os

#I'm mapping to the actual files in the repo so that I can also use this to troubleshoot
import sys,pickle
sys.path.append('../')

with (open('world.p', 'rb')) as pickle_file:
    world = pickle.load(pickle_file)

In [5]:
pd.read_csv('../lib/Datasets/events.csv')

,Unnamed: 0,n_subjects,n_objects,event,effect_var,effect
0,raiders,1,3,"raiders from {a}, plundered {o}",favor,-0.15
1,marrage,1,1,a noble from {o} was married to a noble in {a},favor,0.3
2,temple,1,0,a great temple was founded in the nation of {a},buildings,temple