# Redesign of nations and how they are created. 

Events are happening all the time. Several events happen before the Character quest begins.

In [3]:
%load_ext lab_black

import pandas as pd
import numpy as np
import os

import os
import sys
import django

import altair as alt

sys.path.append("../..")
# Loading my project settings from prodweb. This allows me to load and query models.
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "prodweb.settings")
django.setup()

# I'm mapping to the actual files in the repo so that I can also use this to troubleshoot
import sys, pickle

sys.path.append("../")
from lib.builders import people, towns
import lib.drawMaps as draw

In [4]:
with (open("../pickles/billmanhworld.pkl", "rb")) as pickle_file:
    world = pickle.load(pickle_file)

## This will be the new Nations builder module.

In [42]:
from sklearn.cluster import KMeans


def cluster_nations(world):
    cities = world.df_features[world.df_features["terrain"] == "town"]
    world.nations = []
    world.df_features["nation number"] = np.nan
    world.df_features["nation"] = np.nan
    #     world.df_features["nation number"] = world.df_features["nation number"].
    k = KMeans(init="k-means++", n_clusters=world.culture.n_nations, n_init=10).fit(
        cities[["x", "y"]]
    )
    world.nations_k = k
    predict_nations(world)
    world.nations = [
        Nation(world, cluster=True, k=i) for i in np.unique(world.nations_k.labels_)
    ]
    return k


def predict_nations(world):
    world.df_features["nation number"] = world.nations_k.predict(
        world.df_features[["x", "y"]]
    )


class Nation:
    def __init__(self, world, **kwargs):
        self.name = self.name_nation(world)
        if kwargs.get("cluster", None):
            # Kmeans is the default (when the world is created)
            # Requires the integer value used when creating the world.
            self.cast_nation(world, kwargs.get("k"))
            self.towns = self.addTowns(world)

        self.diplomacy = self.add_diplomacy(world)

    def cast_nation(self, world, k):
        world.df_features.loc[
            world.df_features["nation number"] == k, "nation"
        ] = self.name

    def add_towns(self, world):
        towns = [
            town
            for town in world.towns
            if town.diplomacy.get("nation", "none") == self.name
        ]
        return towns

    def name_nation(self, world):
        nation_name = world.culture.townNameGenerator()
        return nation_name

    def __repr__(self):
        return f"Nation of {self.name}"

    def addTowns(self, world):
        towns = [
            town
            for town in world.towns
            if town.diplomacy.get("nation", "none") == self.name
        ]
        self.towns = towns

    def get_capitol(self):
        c = [t for t in self.towns if t.type == "capitol"][0]
        return c

    def get_random_town(self):
        return np.random.choice(self.towns)

    def getRuler_str(self):
        return self.ruler.name

    def getRuler(self):
        return self.ruler

    def add_diplomacy(self, world):
        # if the world already has nations, then this is a new nation.
        diplomacy = {}
        otherNations = [n for n in world.nations if n.name != self.name]
        for o in otherNations:
            diplomacy[o] = {"favor": 0.8}
        return diplomacy

    def get_deplomacy_df(self):
        d = pd.DataFrame(self.diplomacy).T.reset_index(drop=False)
        d["nation"] = self.name
        d.columns = ["neighbor", "favor", "stance", "nation"]
        return d[["nation", "neighbor", "favor", "stance"]]

    def appointRuler(self, person):
        t = self.getCapitol_str(self.towns)
        self.ruler = person(f"ruler of {self.name}", t)


# nation = Nation(world,k=0)
# print(nation)

In [43]:
k = cluster_nations(world)
k

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [44]:
k.labels_

array([0, 4, 4, 0, 6, 6, 7, 7, 3, 1, 3, 3, 2, 2, 2, 2, 2, 5, 5],
      dtype=int32)

In [45]:
# [[town for town in nation.towns] for nation in world.nations]

In [46]:
world.df_features.loc[
    world.df_features["terrain"] != "ocean", ["nation number", "nation"]
].groupby("nation").mean().sort_values("nation number")

              nation number
nation
Tearcatch                 0
Godchild                  1
Spintear                  2
Demonsspring              3
Starcombe                 4
Hellpike                  5
Malhail                   6
Flamecrest                7

In [47]:
[(i, e) for i, e in enumerate(world.nations)]

[(0, Nation of Tearcatch),
 (1, Nation of Godchild),
 (2, Nation of Spintear),
 (3, Nation of Demonsspring),
 (4, Nation of Starcombe),
 (5, Nation of Hellpike),
 (6, Nation of Malhail),
 (7, Nation of Flamecrest)]

In [95]:
len(np.unique(world.df_features["nation"].dropna()))

7

In [98]:
world.df_features[world.df_features["nation"].isna()]

,y,rainfall,x,key,elevation,terrain,feature,nation number,nation,visited,aware,turn_last_visited,danger
key,,,,,,,,,,,,,
0:14,14,0.0,0,0:14,3.0,ocean,NaN,0,NaN,0,1,0,0.122
1:14,14,0.0,1,1:14,1.0,ocean,NaN,0,NaN,0,1,0,0.764
0:15,15,0.0,0,0:15,2.0,ocean,NaN,0,NaN,0,1,0,0.421
1:15,15,0.0,1,1:15,1.0,ocean,NaN,0,NaN,0,1,0,1.081
2:15,15,0.0,2,2:15,2.0,ocean,NaN,0,NaN,0,1,0,0.786
0:16,16,0.0,0,0:16,1.0,ocean,NaN,0,NaN,0,1,0,-0.059
1:16,16,0.0,1,1:16,2.0,ocean,NaN,0,NaN,0,1,0,0.708
2:16,16,0.0,2,2:16,1.0,ocean,NaN,0,NaN,0,1,0,0.686
3:16,16,0.0,3,3:16,4.0,ocean,NaN,0,NaN,0,1,0,1.209
0:17,17,0.0,0,0:17,3.0,ocean,NaN,0,NaN,0,1,0,0.748
1:17,17,0.0,1,1:17,4.0,ocean,NaN,0,NaN,0,1,0,0.377
2:17,17,0.0,2,2:17,3.0,ocean,NaN,0,NaN,0,1,0,0.088
3:17,17,0.0,3,3:17,1.0,ocean,NaN,0,NaN,0,1,0,0.624
4:17,17,0.0,4,4:17,4.0,ocean,NaN,0,NaN,0,1,0,0.336
0:18,18,0.0,0,0:18,2.0,ocean,NaN,0,NaN,0,1,0,0.462
1:18,18,0.0,1,1:18,4.0,ocean,NaN,0,NaN,0,1,0,0.168
2:18,18,0.0,2,2:18,3.0,ocean,NaN,0,NaN,0,1,0,1.140
3:18,18,0.0,3,3:18,3.0,ocean,NaN,0,NaN,0,1,0,0.828
4:18,18,0.0,4,4:18,5.0,ocean,NaN,0,NaN,0,1,0,0.569
5:18,18,0.0,5,5:18,6.0,desert,NaN,0,NaN,0,0,0,0.411
0:19,19,0.0,0,0:19,3.0,ocean,NaN,0,NaN,0,1,0,0.720
1:19,19,0.0,1,1:19,1.0,ocean,NaN,0,NaN,0,1,0,0.523
2:19,19,0.0,2,2:19,2.0,ocean,NaN,0,NaN,0,1,0,0.550
3:19,19,0.0,3,3:19,3.0,ocean,NaN,0,NaN,0,1,0,0.680
4:19,19,0.0,4,4:19,3.0,ocean,NaN,0,NaN,0,1,0,0.660
5:19,19,0.0,5,5:19,2.0,ocean,NaN,0,NaN,0,1,0,1.052
6:19,19,0.0,6,6:19,1.0,ocean,NaN,0,NaN,0,1,0,0.866
0:20,20,0.0,0,0:20,3.0,ocean,NaN,0,NaN,0,1,0,0.500
1:20,20,0.0,1,1:20,6.0,desert,NaN,0,NaN,0,0,0,0.200
2:20,20,0.0,2,2:20,5.0,ocean,NaN,0,NaN,0,1,0,0.737
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5:24,24,0.0,5,5:24,33.0,mountain,NaN,0,NaN,0,0,0,0.286
6:24,24,0.0,6,6:24,33.0,mountain,NaN,0,NaN,0,0,0,0.569
7:24,24,0.0,7,7:24,32.0,mountain,NaN,0,NaN,0,0,0,0.848
8:24,24,0.0,8,8:24,33.0,mountain,NaN,0,NaN,0,0,0,0.812
0:25,25,0.0,0,0:25,12.0,desert,NaN,0,NaN,0,0,0,0.553
1:25,25,0.0,1,1:25,19.0,desert,NaN,0,NaN,0,0,0,0.911
2:25,25,0.0,2,2:25,30.0,mountain,NaN,0,NaN,0,0,0,0.399
3:25,25,0.0,3,3:25,38.0,town,Doomchild,0,NaN,0,0,0,0.380
4:25,25,0.0,4,4:25,47.0,mountain,NaN,0,NaN,0,0,0,0.994
5:25,25,0.0,5,5:25,48.0,mountain,NaN,0,NaN,0,0,0,0.218
6:25,25,0.0,6,6:25,45.0,mountain,NaN,0,NaN,0,0,0,0.841
7:25,25,0.0,7,7:25,43.0,mountain,NaN,0,NaN,0,0,0,0.334
0:26,26,0.0,0,0:26,12.0,desert,NaN,0,NaN,0,0,0,0.961
1:26,26,0.0,1,1:26,23.0,desert,NaN,0,NaN,0,0,0,0.357
2:26,26,0.0,2,2:26,32.0,mountain,NaN,0,NaN,0,0,0,0.855
3:26,26,0.0,3,3:26,43.0,mountain,NaN,0,NaN,0,0,0,0.904
4:26,26,0.0,4,4:26,53.0,mountain,NaN,0,NaN,0,0,0,0.476
5:26,26,0.0,5,5:26,57.0,mountain,NaN,0,NaN,0,0,0,0.328
0:27,27,0.0,0,0:27,12.0,desert,NaN,0,NaN,0,0,0,0.300
1:27,27,0.0,1,1:27,22.0,desert,NaN,0,NaN,0,0,0,0.453
2:27,27,0.0,2,2:27,32.0,mountain,NaN,0,NaN,0,0,0,0.687
3:27,27,0.0,3,3:27,47.0,mountain,NaN,0,NaN,0,0,0,0.521
4:27,27,0.0,4,4:27,55.0,mountain,NaN,0,NaN,0,0,0,1.036
0:28,28,0.0,0,0:28,11.0,desert,NaN,0,NaN,0,0,0,0.903
1:28,28,0.0,1,1:28,21.0,desert,NaN,0,NaN,0,0,0,0.703
2:28,28,0.0,2,2:28,30.0,mountain,NaN,0,NaN,0,0,0,0.673
3:28,28,0.0,3,3:28,43.0,mountain,NaN,0,NaN,0,0,0,0.143
0:29,29,0.0,0,0:29,15.0,desert,NaN,0,NaN,0,0,0,0.781
1:29,29,0.0,1,1:29,21.0,desert,NaN,0,NaN,0,0,0,0.793
0:30,30,0.0,0,0:30,13.0,desert,NaN,0,NaN,0,0,0,0.926

In [99]:
np.unique(world.nations_k.labels_)

array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int32)